*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

body{
	padding: -1px;
	background-color: #000;
	background-image: url("../images/back_l.jpeg");	
	background-size: cover;
	background-attachment: fixed;
	color: #4B2D1C;
	font-family: "ヒラギノ明朝 ProN",sans-serif;
}

#container{
	width: 1120px;
	border: double #958E90;
	background: #FFFBF1;
	margin: 0 auto;
	padding: 50px 55px 90px 55px;
	border-radius: 10px;

}

#topNav{
	width: 1230px;
	height: 169px;
	margin: -55px -55px;
	background: #FFFBF1;
	text-align: center;
	position: fixed;
	z-index: 100;
	font-family: "Snell Roundhand",sans-serif;
	font-size: 20px;
}

#logo img{
	visibility: hidden;
}

#logoBar{
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navR{
	font-family: "ヒラギノ明朝 ProN",sans-serif;
	font-size: 15px;
	color: #958E90;
}


#logoBar a:link,
#logoBar a:visited{
	text-decoration: none;
	color: #4B2D1C;
}

#logoBar a:hover{
	color: #FFFBF1;
	background: #AC9898;
	transition: 150ms ease-in-out;
}

#navigation{
	width: 700px;
	border-top: dotted 0.5px;
	margin: 0 auto;
}

#navigation ul{
	display: flex;
}

#navigation li{
	height: 35px;
	width: 150px;
	text-align: center;
}

#navigation a{
	display: block;
	padding: 0.5em 0;
	width: 140px;
}

#navigation li a:link,
#navigation li a:visited{
	color: #000;
	background: #FFFBF1;
	text-decoration: none;
}

#navigation li a:hover{
	color: #FFFBF1;
	background: #AC9898;
	transition: 150ms ease-in-out;
}



#box{
	position: relative;
	height: 700px;
}

#photoBox{
	position: relative;
}

#photoBox p{
	width: 1120px;
	position: relative;
	z-index: 1;
	margin-top: 150px;
}

#photoBox h2{
	position: absolute;
	bottom: 140px;
	right: 80px;
	color: #FFFBF1;
	text-shadow: 5px 7px 3px #958E90;
	font-size: 60px;
	z-index: 1;
	font-family: "Snell Roundhand",sans-serif;
}

#chart{
	position: absolute;
	display: flex;
	width: 1120px;
	bottom: -35px;
	right: 25px;
	z-index: 10;
}

#chart h2{
	margin: auto;
	font-size: 35px;
}

#chart p{
	text-align: center;
}

#chart .link{
	font-size: 20px;
}

.txt{
	font-size: 25px;
}

h3{
	font-size: 60px;
	font-family: "Snell Roundhand",sans-serif;
}

#teaHead p,#cakeHead p{
	color: #958E90;
}

#teaMenu{
	display: flex;
	margin: 100px 40px;
	position: relative;
}

#teaHead{
	position: absolute;
	top: 80px;
	right: 200px;
}

#teaLi{
	position: absolute;
	bottom: 60px;
	right: 310px;
}


#cakeMenu{
	display: flex;
	margin: 80px 40px;
	position: relative;
	justify-content:flex-end;
}

#cakeHead{
	position: absolute;
	top: 80px;
	left: 200px;
}

#cakeLi{
	position: absolute;
	bottom: 60px;
	left: 200px;
}

.txt *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;  
}
.txt li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 1em;
	padding: 0;
}
.txt a {
	padding: 0.5em 0.8em;
	margin: 0.2em 0;
	display: block;
	color: #000000;
	position: relative;
	text-decoration: none;
}
.txt a:before,
.txt a:after {
	height: 14px;
	width: 14px;
	position: absolute;
	content: '';
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}
.txt a:before {
	left: 0;
	top: 0;
	border-left: 3px solid #c0392b;
	border-top: 3px solid #c0392b;
	-webkit-transform: translate(100%, 50%);
	transform: translate(100%, 50%);
}
.txt a:after {
	right: 0;
	bottom: 0;
	border-right: 3px solid #c0392b;
	border-bottom: 3px solid #c0392b;
	-webkit-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}
.txt a:hover,
.txt  a {
	color: #000000;
}
.txt a:hover:before,
.txt a:hover:after{
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	opacity: 1;
}


address{
	text-align: center;
	color: #FFFBF1;
	padding: 50px;
}

